@import 'index';

.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    h1 {
        font-size: 24px;
    }

    form {
        .form-group {
            margin-bottom: 20px;
        }

    }
}