
button {
    color: $primary-text;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    // Sizes
    &.sm {
        padding: 15px;
    }

    &.md {
        padding: 15px 30px;
    }

    &.lg {
        padding: 15px 50px;
    }

    // Types
    &.primary {
        background-color: $third-palet-color;

        &:hover:not(:disabled) {
            background-color: $third-palet-color__hover;
        }
    }

    &.secondary {
        background-color: red;

        &:hover:not(:disabled) {
            background-color: red;
        }
    }

    &.third {
        background-color: white;

        &:hover:not(:disabled) {
            background-color: whitesmoke;
        }
    }

    // States
    &:disabled {
        background-color: $third-palet-color__disabled;
        cursor: not-allowed;
    }

    &:focus {
        outline: none;
    }


    // Others
    &.fullWidth {
        width: 100%;
    }
}