// Colores primarios
$primary-bg: #000;
$secondary-bg: #333;

// Colores secundarios
$primary-text: #fff;
$secondary-text: #ccc;

// Colores terciarios
$third-palet-color: #003366;
$third-palet-color__hover: #005599;
$third-palet-color__disabled: #ccc;

$background: (
    primary: $primary-bg,
    secondary: $secondary-bg,
);

$texts: (
    primary: $primary-text,
    secondary: $secondary-text,
);