textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $secondary-text;
    border-radius: 5px;
    background-color: $secondary-bg;
    color: $primary-text;
    resize: vertical;
    min-height: 100px;
}