@import 'index';

header {
    color: map-get($texts, primary);
    padding: 0.5rem;

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        p {
            margin-left: 5rem;
        }

        ul {
            display: flex;
            flex-direction: row-reverse;
            gap: 3rem;
            list-style: none;
            margin-right: 5rem;

            li {
                border-bottom: 3px solid transparent;
                cursor: pointer;
                transition: all 0.2s;
                font-weight: normal;

                &:hover {
                    transform: scale(1.05);
                    border-bottom: 3px solid $third-palet-color;
                }
            }
        }
    }
}

@include screen ('mobile') {
    header {
        padding: 1rem;

        nav {
            ul {
                display: none;
            }
        }
    }
}