@import 'index';

section.main-message {
    display: flex;
    flex-direction: column;
    background-color: $secondary-bg;
    height: calc(100vh - 70px);
    color: $primary-text;

    h1 {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@include screen ('mobile') {
    section.main-message {
        height: calc(100vh - 52px);
    }
}