// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'index';

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $primary-bg;
    // font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p { 
    padding: 0;
    margin: 0;
}